.ContentsWrap {
  width: 2560px;
  height: 470px;
  background: #f4eee9;
  display: flex;
  justify-content: center;
}
.InnerContents {
  width: 1200px;
  margin-top: 40px;
}
.InnerContents > ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  color: #222222;
}

.menu {
  display: flex;
}
.menu > li {
  font-weight: 700;
  font-size: 15px;
  color: #9b8777;
  margin-left: 30px;
}
